<div id="titleHeader">
    <h1>Gaming News!</h1>
</div>
<div class="container-fluid">
    {{!-- This should all be in a for each loop that will corespond to the database --}}
    <div class="row">
        <div class="col">
            <div class="dbImage"></div>
        </div>
        <div class="col">
            <div class="row">
                <div class="articleTitle"></div>
            </div>
            <div class="row">
                <div class="articleSummaryLink">
                </div>
            </div>
        </div>
    </div>
    
</div>