@font-face {
    font-family: myFirstFont;
    src: url(./../fonts/Great\ Fighter\ Demo.ttf);
  }
  #titleHeader{
    width:100%;
    height:80px;
    background: black;
    text-align: center;
    border-bottom: 2px rgb(104, 221, 241) solid;
    
}
#actualTitle{
    font-size: 60px;
    color: rgb(245, 215, 46);
    font-family: "New Rules - Demo";
}
#mainPage{
    background: url("./../images/91152.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    height:100%;
    text-align: center;
    padding:40px;   


}
#contentWindow{

    width:50%;
    margin: auto;
    margin-bottom: 40px;
   }
.article{
    opacity: 1.0;
    background:lightgray;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px
}
.articleTitle{
    font-weight: bold;
}

